<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Server_GUI_HD.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <Server_GUI_HD.My.MySettings>
            <setting name="Port" serializeAs="String">
                <value>27015</value>
            </setting>
            <setting name="ServerName" serializeAs="String">
                <value>My Server GUI HD server</value>
            </setting>
            <setting name="Level" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="strLevel" serializeAs="String">
                <value>Content/SeriousSamHD/Levels/</value>
            </setting>
            <setting name="MaxPlayers" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="InterChat" serializeAs="String">
                <value />
            </setting>
            <setting name="InterChatTime" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="AdminPass" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowPass" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="InfiniteAmmo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GameMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ClientPass" serializeAs="String">
                <value />
            </setting>
            <setting name="AllowPause" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AllowHealth" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AllowArmor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SpawnInvul" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WindowX" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="WindowY" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="HealthStays" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ArmorStays" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AmmoStays" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WeaponsStay" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExtraEnemies" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FriendlyFire" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RespawnInPlace" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Difficulty" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ExtraEnemyStrength" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ExtraEnemyStrengthPerPlayer" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Cheats" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FragLimit" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="TimeLimit" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="FPS" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="MaxClientBPS" serializeAs="String">
                <value>11000</value>
            </setting>
            <setting name="Minimal" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="DisableVoting" serializeAs="String">
                <value>False</value>
            </setting>
        </Server_GUI_HD.My.MySettings>
    </userSettings>
</configuration>
